<!DOCTYPE html>
<!-- AIzaSyCwgdEpNqwHwafAIXe9sXCC8x1QlGJBXoE  google maps api-->
<html>
  <head>
    <meta charset="utf-8">

    <title></title>
  </head>
  <body>
    <nav class="#039be5 light-blue darken-1">
     <div class="nav-wrapper">
       <a href="#!" class="brand-logo boton">Playas</a>
       <ul class="right">
         <a class='dropdown-button btn boton' data-beloworigin="true" constrainWidth="false"  data-activates='dropdown1' (click)="noCerar()"> Iniciar Sesion </a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content dropdown-big'>
<!-- Formulario-->
        <li class="login">
          <div class="">
           <div class="card-content white-text">
             <span class="card-title">Inicio Sesión gestores</span>
              <ul>
                <li>
                  <label for="icon_prefix fondo ">Usuario</label>
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" type="text" class="validate">

                </li>
                <li>
                  <label for="icon_prefix fondo">Contraseña</label>
                  <i class="material-icons prefix">keyboard</i>
                  <input id="icon_prefix" type="text" class="validate">
                </li>
              </ul>
           </div>
           <div class="card-action">
             <a class="letra letra1" href="#">Registrarme</a>
             <a class="waves-effect waves-light btn-large login-btn">Login</a>

           </div>
         </div>

         </li>


  </ul>
         <li><a class="waves-effect waves-light btn-large boton" data-activates="slide-out" materialize="sideNav" (click)="mostrarMenu()">PREVENT SOS</a></li>
       </ul>
     </div>
   </nav>
   <ul id="slide-out" class="side-nav">
    <li><div class="user-view">
      <div class="background">
        <img src="assets/images/waves.jpg">
      </div>
      <a href="#!user"><img class="circle" src="assets/images/logo.png"></a>
    </div>
  </li>
  <br>
  <br>
    <li>

      <div class="input-field">
            <i class="material-icons prefix">search</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Buscar</label>
      </div>
    </li>
    <br>
    <br>
    <li>
      <div class="input-field col s12 browser-default">
        <select materialize="material_select" [(ngModel)]="Pais" name="nombrePais" id="paisSelect">
          <option value="" disable selected>Escoge una opcion</option>
          <option value="1">España</option>
        </select>
        <label>País</label>
      </div>
    </li>
    <br>
    <br>
    <li>
      <div class="input-field col s12 browser-default">
        <select materialize="material_select" [(ngModel)]="Provincia" name="nombreProvincia" id ="provinciaSelect">
          <option value="" disable selected>Escoge una opcion</option>
          <option value="1">Cantabria</option>
          <option value="2">Asturias</option>

        </select>
        <label>Provincia</label>
      </div>
    </li>
    <br>
    <br>
    <li>
      <div class="input-field col s12 browser-default">
        <select materialize="material_select" [(ngModel)]="Ciudad" name ="nombreCiudad" id="ciudadSelect">
          <option value="" disable selected>Escoge una opcion</option>
          <option value="1">Santander</option>
          <option value="2">Comillas</option>
        </select>
        <label>Localidad</label>
      </div>
    </li>
    <br>
    <br>
    <li>
      <div class="input-field col s12 browser-default">
        <select materialize="material_select" [(ngModel)]="Playas" name="nombrePlaya" id="playaSelect">
          <option value="" disable selected>Escoge una opcion</option>
          <option value="1">El Sardinero</option>
          <option value="2">El Sardinero 2</option>
          <option value="3">La Magdalena</option>
          <option *ngIf="comillas==true" value="4">Comillas</option>
        </select>
        <label>Playas</label>
      </div>
    </li>
    <br>
    <li><a class="waves-effect waves-light btn"(click)="BuscarPlaya()" [routerLink]="['prueba']">Buscar</a></li>

  </ul>
  </body>
</html>
