body{
  top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;

}
.btn-menu{
  border: 1px solid;
  color: black;
}
.navtest{
  opacity: 0.4;
}
.homebutton{
  float: left;
}

.boton{
  position: relative;
}
.fondo{
  background-color: white;
}
.letra{
  color:black;
}

.letra1{
  float: right;
}
.dropdown-content{
    width: 30%;
    margin: 20px;
}

nav ul a {
color: #FFF;
}
nav,
nav .nav-wrapper i,
nav a.button-collapse,
nav a.button-collapse i {
height: 75px;
line-height: 75px;
}
.texto{
  color: black;
}
