
<!DOCTYPE HTML>
<html>

<head>
	<title>Playa Segura</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="landing">
	<div id="page-wrapper">
		<!-- Banner -->
		<section id="banner">
			<app-sidenav></app-sidenav>
			<h2>Playa Segura</h2>
			<ul class="actions">
				<li><a href="#" class="button special">Buscar Playa</a></li>
			</ul>
		</section>

		<!-- Main -->
		<section id="main" class="container">
					<section class="box special features">
					  <div class="features-row">
					    <section>
								<h3>Noticias</h3>
					      <marquee direction="up" scrolldelay="800">
									<img src="" class = "materialboxed" width="60%">
					        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Alias, impedit, minus. In amet cupiditate maxime illo, rerum!
										Velit vero voluptas sequi, mollitia unde dicta inventore quo libero
										iste expedita reiciendis.</p>
					      </marquee>
					    </section>
					    <section>
								<h3>Anuncios</h3>
					      <marquee direction="up" scrolldelay="5">
					        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Alias, impedit, minus. In amet cupiditate maxime illo, rerum!
										Velit vero voluptas sequi, mollitia unde dicta inventore quo libero
										iste expedita reiciendis.</p>
					      </marquee>
					    </section>
					  </div>
					</section>

			<section class="box special features">
				<div class="features-row">
					<section>
						<span class="image featured"><img src="assets/images/arnia.png" alt="" /></span>
						<h3>Playa de la Arnía</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
						<ul class="actions">
							<li><a routerLink="/playas" class="button alt">Ir a playas</a></li>
						</ul>
					</section>
					<section>
						<span class="image featured"><img src="assets/images/De_los_Peligros.png" alt="" /></span>
						<h3>Playa de los Peligros</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
						<ul class="actions">
							<li><a routerLink="/agregar-playa" class="button alt">Ver Playa</a></li>
						</ul>
					</section>
				</div>
				<div class="features-row">
					<section>
						<span class="image featured"><img src="assets/images/Playa_De_Matalenas.png" alt="" /></span>
						<h3>Playa de la Mataleñas</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Ver Playa</a></li>
						</ul>
					</section>
					<section>
						<span class="image featured"><img src="assets/images/sardinero.png" alt="" /></span>
						<h3>Playa del Sardinero</h3>
						<p>Playa situada en el núcleo urbano de Santander,unida en la bajamar con la Segunda y La Concha, siendo la parte más al norte del extenso arenal situado entre cabo Menor y la Península de la Magdalena. Casi 2 kilómetros de fina arena. Durante mucho tiempo, caladero de sardinas, de ahí proviene el nombre de El Sardinero.</p>
						<ul class="actions">
							<li><a routerLink="/prueba" class="button alt">Ver Playa</a></li>
						</ul>
					</section>
				</div>
			</section>

			<div class="row">
				<div class="6u 12u(narrower)">

					<section class="box special">
						<span class="image featured"><img src="assets/images/pic02.jpg" alt="" /></span>
						<h3>Playas Santander</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Ver otras</a></li>
						</ul>
					</section>

				</div>
				<div class="6u 12u(narrower)">

					<section class="box special">
						<span class="image featured"><img src="assets/images/pic03.jpg" alt="" /></span>
						<h3>Equipos de seguridad</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
						<ul class="actions">
							<li><a href="#" class="button alt">Comprar</a></li>
						</ul>
					</section>

				</div>
			</div>

		</section>

		<!-- Footer -->
		<footer align="center">
			<ul class="logos">
			      <a href="http://citican.org/"><img src="assets/images/Citican.png" style="margin:0px 20px"></a>
			      <a href="https://www.cantabria.es/"><img src="assets/images/Gob_Cantabria.png" style="margin:0px 20px"></a>
			      <a href="http://www.sodercan.es/"><img src="assets/images/Sodercan.png" style="margin:0px 20px"></a>
			      <a href="https://www.uneatlantico.es/"><img src="assets/images/Uneatlantico.png" style="margin:0px 20px"></a>
			</ul>
		</footer>


	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.dropotron.min.js"></script>
	<script src="assets/js/jquery.scrollgress.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.j"></script>

</body>

</html>
