agm-map{
  height: 500px;
  width:100%;

}
.map-container{
margin-top:  20px;
margin-bottom: 20px;
}
.header-container{
  text-align: center;
}

.img-container{
  margin: 20px;
}
.uneat{
  height:300px;
}

.img{
  position:relative;
}

.img-responsive {
    width: auto;
    height: 120px;
}

h1 {
	font-family: "Architects Daughter";
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
h3 {
	font-family: "Architects Daughter";
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
