<div class="container header-container">
<h1>Playa Segura</h1>
</div>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="row">
    <div class="col s12"><p>s12</p></div>
    <div class="col s12 m4 l2"><p>s12 m4</p></div>
    <div class="col s12 m4 l8">
      <div class="row">
        <div class="row">
      <div class="col s6">
        <div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/logo.png">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>

      </div>
      <div class="col s6">6-columns (one-half)</div>
    </div>
      </div>
    </div>
    <div class="col s12 m4 l2">
      <div class="box">
        <u>Noticias</u>
      <br>
        <marquee direction="up">
          <h5>*Compra por el ayuntamineto</h5>
          <p>03/10/2017</p>
        El ayuntamineto compro nuevos equipos para los socorristas de playas
        <br>
        <br>
          <h5>*Algas en playas</h5>
          <p>07/09/2017</p>
          Se han encontrado una gran cantidad de algas marinas cerca de las costas
           de las playas en santander
          <br>
          <br>
            *Otra noticia aca
            <br>
              *Otra noticia aca
              <br>
                *Otra noticia aca
                <br>
                  *Otra noticia aca
                  <br>
                    *Otra noticia aca
                    <br>
                      *Otra noticia aca
                      <br>
                        *Otra noticia aca

        </marquee>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l3"><p>Imagen1</p></div>
    <div class="col s12 m6 l3"><p>Imagen2</p></div>
    <div class="col s12 m6 l3"><p>Imagen3</p></div>
    <div class="col s12 m6 l3"><p>Imagen4</p></div>
  </div>
