agm-map{
  height: 500px;
  width:100%;

}
.map-container{
margin-top:  20px;
margin-bottom: 20px;
}
.header-container{
  text-align: center;
}

.img-container{
  margin: 20px;
}
.uneat{
  height:300px;
}


.img{
  position:relative;
}
