<app-navbar></app-navbar>
<div class="container header-container">
<h1>Playa Segura</h1>
<h2>Tu ubicacion actual</h2>
</div>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="container map-container">
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
</div>

<div class="container header-container">
  <h3>En colaboracion con</h3>
</div>
<div class="container img-container">
  <div class="row">
    <div class="col"><img src="assets/images/logo_citican.jpg" class="img-fluid pull-xs-left citican img" alt=""></div>
    <div class="col"><img src="assets/images/sodercan.jpg" class="img-fluid pull-xs-left img" alt=""></div>
    <div class="w-100"></div>
    <div class="col"><img src="assets/images/gobcantabria.jpg" class="img-fluid pull-xs-left img" alt=""></div>
    <div class="col"><img src="assets/images/uneatlantico.jpg" class="img-fluid pull-xs-left uneat img" alt="..."></div>
  </div>
</div>
