
<div class="TopDiv">
  <p class="Bienvenida">Bienvenido Administrador General</p>
</div>

<div class="DivOpciones">
  <ul class="lista">
    <li class="listElement"><a href="administrador-general" class="opciones">Administrador General</a></li>
    <li class="listElement"><a href="administrador-general" class="opciones">Encargado de Playa</a></li>
    <li class="listElement"><a href="administrador-general" class="opciones">Coordinador General</a></li>
    <li class="listElement"><a href="administrador-general" class="opciones">Socorrista</a></li>
  </ul>
  <ul class="lista">
    <li class="listElement"><a href="administrador-general" class="opciones">Dar de alta a Administrador General</a></li>
    <li class="listElement"><a href="administrador-general" class="opciones">Dar de alta a Encargado de Playas</a></li>
    <li class="listElement"><a href="administrador-general" class="opciones">Dar de alta a Coordinador General</a></li>
    <li class="listElement"><a href="administrador-general" class="opciones">Dar de alta a Socorrista</a></li>
  </ul>

  <ul class="lista">
    <li class="listElement"><a href="administrador-general" class="opciones">Dar de baja a Administrador General</a></li>
    <li class="listElement"><a href="administrador-general" class="opciones">Dar de baja a Administrador General</a></li>
    <li class="listElement"><a href="administrador-general" class="opciones">Dar de baja a Coordinador General</a></li>
    <li class="listElement"><a href="administrador-general" class="opciones">Dar de baja a Socorrista</a></li>
  </ul>
</div>
